[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
numpy = "~=1.24.4"
pandas = "~=2.0.3"
pillow = "~=10.1.0"
matplotlib = "~=3.7.4"
scikit-image = "~=0.21.0"
keras = "~=2.9.0"
fastapi = "~=0.109.0"
starlette = "~=0.35.1"
pydantic = "~=2.5.3"
scikit-learn = "~=1.3.2"
seaborn = "~=0.13.0"

[dev-packages]

[requires]
python_version = "3.8"
